---
layout: default
---

<div id="ciders">
    <div class="bg-light my-3 p-3">
        <div class="form-group">
            <label for="search">Start typing to search the list:</label>
            <input id="search" class="search form-control" placeholder="Search"/>
        </div>
    </div>


    {% assign tableHead = "Type#Mill#Name#abv#Region" | split: '#' %}

    <div class="table-responsive">
        <table class="table table-striped">
            <thead class="thead-dark">
            <tr>
                {% for th in tableHead %}
                <th>
                    <button class="btn btn-block btn-secondary sort {% if forloop.first == true %}asc{% endif %}" data-sort="{{ th | downcase }}">
                        {{ th }}
                        <span class="sort-icons">
                        <i class="fas fa-sort-up"></i>
                        <i class="fas fa-sort-down"></i>
                    </span>
                    </button>
                </th>
                {% endfor %}
            </tr>
            </thead>
            <!-- IMPORTANT, class="list" have to be at tbody -->
            <tbody class="list">
            {% for beer in site.data.ciders %}
            <tr>
                <td class="type">
                    {{ beer.type }}
                </td>
                <td class="mill">
                    {{ beer.brewery }}
                </td>
                <td>
                    <span class="name">{{ beer.beer }}</span>
                </td>
                <td class="abv">{{ beer.abv }}%</td>
                <td class="region">{{ beer.location }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

