---
layout: default
---

<div class="mt-3">
    <h1>Draught beers</h1>
    <div id="accordion" class="my-3">
        <div class="card">
            <div class="card-header bg-light px-2 py-1" id="keyHeading">
                <h5 class="mb-0">
                    <button class="btn btn-link btn-sm btn-block py-0 text-left" data-toggle="collapse" data-target="#key" aria-expanded="true" aria-controls="key">
                        Bar Key
                    </button>
                </h5>
            </div>

            <div id="key" class="collapse" aria-labelledby="keyHeading" data-parent="#accordion">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6 col-lg-3"><span class="badge badge-pill badge-danger">NEW</span> New brewery</div>
                        <div class="col-md-6 col-lg-3"><span class="badge badge-pill badge-primary">FEST</span> Festival Special</div>
                        <div class="col-md-6 col-lg-3"><span class="badge badge-pill badge-success">SB</span> Singles Bar</div>
                        <div class="col-md-6 col-lg-3"><span class="badge badge-pill badge-info">BB</span> Brewery Bar</div>
                    </div>
                    <div class="row">
                        <div class="col-md-3"><span class="badge badge-pill badge-dark">&nbsp;1&nbsp;</span> Main Bar 1</div>
                        <div class="col-md-3"><span class="badge badge-pill badge-dark">&nbsp;2&nbsp;</span> Main Bar 2</div>
                        <div class="col-md-3"><span class="badge badge-pill badge-dark">&nbsp;3&nbsp;</span> Main Bar 3</div>
                        <div class="col-md-3"><span class="badge badge-pill badge-dark">&nbsp;4&nbsp;</span> Main Bar 4</div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="beers">
        <div class="bg-light my-3 p-3">
            <div class="form-group">
                <label for="search">Start typing to search the list:</label>
                <input id="search" class="search form-control" placeholder="Search"/>
            </div>
            <div class="form-group mb-0">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="toggle-desc">
                    <label class="form-check-label" for="toggle-desc">
                        Toggle descriptions
                    </label>
                    <small class="form-text text-muted">
                        Click a name to pop-up a description, or use this checkbox to toggle them on and off within the table.
                    </small>
                </div>
            </div>
        </div>

        {% assign tableHead = "Brewery#Name#abv#Bar#Region" | split: '#' %}
        <div class="table-responsive">
            <table class="table table-striped" data-filterable="beers">
                <thead>
                <tr>
                    {% for th in tableHead %}
                    <th>
                        <button class="btn btn-block btn-secondary sort {% if forloop.first == true %}asc{% endif %}" data-sort="{{ th | downcase }}">
                            {{ th }}
                            <span class="sort-icons">
                                <svg class="icon sort-up" aria-hidden="true" focusable="false">
                                  <use xlink:href="#sort-up"></use>
                                </svg>
                                <svg class="icon sort-down" aria-hidden="true" focusable="false">
                                  <use xlink:href="#sort-down"></use>
                                </svg>
                            </span>
                        </button>
                    </th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody class="list">
                {% for beer in site.data.beers %}
                <tr>
                    <td class="brewery" data-label="Brewery: ">
                        {{ beer.brewery }}
                        {% if beer.new_brewery %}
                        &nbsp;<span class="badge badge-pill badge-danger">NEW</span>
                        {% endif %}
                    </td>
                    <td data-label="Name: ">
                        <a data-toggle="modal" href="#desc{{ forloop.index }}" role="button" aria-expanded="false"
                           aria-controls="collapseExample">
                            <span class="name">{{ beer.beer }}</span>
                        </a>
                        <div class="modal fade" id="desc{{ forloop.index }}" tabindex="-1" role="dialog"
                             aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">{{ beer.beer }} ({{ beer.brewery
                                            }})</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        {{ beer.desc }}
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="toggle-desc">
                            {{ beer.desc }}
                        </div>
                    </td>
                    <td class="abv" data-label="ABV: ">{{ beer.abv }}%</td>
                    <td class="bar" data-label="Bar: ">
                        {% for bar in beer.bar %}
                        {% if bar == 'Main Bar 1' %}
                        {% assign pillText = '&nbsp;1&nbsp;' %}
                        {% assign pillColour = 'dark' %}
                        {% elsif bar == 'Main Bar 2' %}
                        {% assign pillText = '&nbsp;2&nbsp;' %}
                        {% assign pillColour = 'dark' %}
                        {% elsif bar == 'Main Bar 3' %}
                        {% assign pillText = '&nbsp;3&nbsp;' %}
                        {% assign pillColour = 'dark' %}
                        {% elsif bar == 'Main Bar 4' %}
                        {% assign pillText = '&nbsp;4&nbsp;' %}
                        {% assign pillColour = 'dark' %}
                        {% elsif bar == 'Singles Bar' %}
                        {% assign pillText = 'SB' %}
                        {% assign pillColour = 'success' %}
                        {% elsif bar == 'Festival Special' %}
                        {% assign pillText = 'FEST' %}
                        {% assign pillColour = 'primary' %}
                        {% else %}
                        {% assign pillText = 'BB' %}
                        {% assign pillColour = 'info' %}
                        {% endif %}

                        <a href="#" class="badge badge-pill badge-{{ pillColour }}" data-toggle="tooltip"
                           title="{{ beer.bar }}">{{ pillText }}</a>
                        {% endfor %}
                    </td>
                    <td class="region" data-label="Region: ">{{ beer.location }}</td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

