<header class="site-header" role="banner">
    <div class="navbar navbar-dark bg-dark shadow-sm mb-4">
        <div class="container d-flex justify-content-between">
            <span class="navbar-brand d-flex align-items-center">
                <i class="fas fa-beer"></i>
                <strong class="ml-2 d-none d-sm-block">Peterborough Beer Festival 2019 Lists</strong>
                <strong class="ml-2 d-sm-none">PBF 2019 Lists</strong>
            </span>
        </div>
    </div>

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Draught beers</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">World Beer Bar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Cider &amp; Perry</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Gin Bar</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Wine Bar</a>
            </li>
        </ul>
    </div>

</header>
