<header class="site-header" role="banner">
    <div class="navbar navbar-dark bg-dark shadow-sm mb-4">
        <div class="container d-flex justify-content-between">
            <span class="navbar-brand d-flex align-items-center">
                <i class="fas fa-beer"></i>
                <strong class="ml-2 d-none d-sm-block">Peterborough Beer Festival 2019 Lists</strong>
                <strong class="ml-2 d-sm-none">PBF 2019 Lists</strong>
            </span>
        </div>
    </div>

    <!--{% assign pagePaths = "world-beer#ciders#gin#wine" | split: '#' %}-->
    <!--{% assign pageNames = "World Beers#Cider & Perry#Gin#Wine" | split: '#' %}-->

    {% assign pagePaths = "ciders" | split: '#' %}
    {% assign pageNames = "Cider & Perries" | split: '#' %}

    <div class="container">
        <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">Draught Beers</a>
            </li>
            {% for path in pagePaths %}
                <li class="nav-item">
                    {% assign fullPath = path | prepend: '/' | append: '.html' %}
                    <a class="nav-link {% if page.url == fullPath %}active{% endif %}" href="{{ fullPath }}">{{ pageNames[forloop.index0] }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>

</header>
